<div class="container">
<% @perfil.each do |perfil| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre:</h5>
    <p class="card-text"><%= perfil.name %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <% end %>
</div>
</div>
