
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Como Funciona</h1>
    <p class="lead my-3">Puedes comprar una caja mixta de cervezas artesanales, y esperar tranquilo en la comodidad de tu hogar.</p>
    <p class="lead my-3">Solo te queda registrarte y empezar a disfrutar.</p>
  </div>
</div>
