<header class="masthead">
  <div class="container">

    <div class="intro-text">
      <div class="row" >
        <div class="col" id="carusel">
          <div class="inbox">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="http://morterodepiedra.com/wp-content/uploads/2017/07/variedades-cerveza-sinners-quito-800x400.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://www.birraeblues.com/wp-content/uploads/2018/08/World-Beer-Awards-2018.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://api.feedcoo.com/uploaded_files/products/37/image_cover.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">E-Commerce</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Responsive Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Security</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Your Website 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="container" >
  <div class="row" >
    <div class="col" id="carusel">
      <div class="inbox">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="http://morterodepiedra.com/wp-content/uploads/2017/07/variedades-cerveza-sinners-quito-800x400.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://www.birraeblues.com/wp-content/uploads/2018/08/World-Beer-Awards-2018.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://api.feedcoo.com/uploaded_files/products/37/image_cover.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="row" id="columna">
      <div class="col-md-8">
        <h3 class="beer">Beerstock</h3>
        <p>Nace con el objetivo de complacer al publico cervecero, atravez del acercamiento al mercado de la cerveza artesanal. Aqui podras encontrar distintos tipos y sabores de este brebaje ancestral. Te invito
        a ser parte de esta espumante experiencia, solo debes registrarte para comenzar tu aventura con nostros. Te Saluda BeerStock.   </p>
      </div>
      <div class="col-md-4">
        <img src="http://www.brotherwood.cl/wp-content/uploads/portada1.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <br>
    <div class="card-deck">
    <div class="card border-0">
      <%= image_tag '001-cerveza.png', class:'rounded-circle img-thumbnail img-fluid' %>
      <div class="card-body">
        <h5 class="card-title">Como comprar</h5>
        <p class="card-text"> Primero debes logearte y luego elije unos de los productos.</p>
      </div>
    </div>
    <div class="card border-0">
      <%= image_tag '002-cerveza-1.png', class:'rounded-circle img-thumbnail img-fluid' %>
      <div class="card-body">
        <h5 class="card-title">Pago</h5>
        <p class="card-text">Despues de elijir un producto y pagar, no quedaras amarrado pagando mensualmente, tu elijes cuando pagar.</p>

      </div>
    </div>
    <div class="card border-0">
      <%= image_tag '003-cerveza-2.png', class:'rounded-circle img-thumbnail img-fluid' %>
      <div class="card-body">
        <h5 class="card-title">Despacho</h5>
        <p class="card-text">Solo tienes que esperar en la comodidad de tu hogar, por que el producto te lo vamos a dejar.</p>
      </div>
    </div>
  </div>
</div>

<br>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://www.google.cl/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwir_8SEsIzeAhWIGZAKHW-nCz8QjRx6BAgBEAU&url=http%3A%2F%2Fgetdrawings.com%2Ftoronto-skyline-silhouette&psig=AOvVaw3N3UhTHrceaeYM9P-jLbF_&ust=1539827859936682" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Contacto</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Email:</a></li>
          <li><a class="text-muted" href="#">jesus.medina05@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
